.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__titleHeader {
    font-weight: bold;
}

.header__select{
    padding: 3px 6px;
    margin-left: 8px;
    border-radius: 5px;
}