.main{
    border: 1px solid #e7cbe7;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0 20px;
}

.main--darkTheme{
    border: 1px solid #295c5e;
}

.main__section{
    padding: 10px 0;
}

.main__paragraph{
    line-height: 1.5;
}

.main__link {
    color: hsl(300, 37%, 65%);
    text-decoration: none;
    font-weight: bold;
}

.main__link:focus{
    outline: 2px solid black;
}

.main__link:hover{
    color: hsl(300, 37%, 55%);
    text-decoration: underline;
}

.main__link:active{
    opacity: 0.6;
}

.main__container{
    overflow-x: auto;
}

.main__link--darkTheme{
    text-decoration: none;
    color: #9aebee;
    transition: color, 100ms;   
}

.main__link--darkTheme:hover {
    color: hsl(182, 71%, 62%);
}