.table{
    border-collapse: collapse;
    width: 100%;
}

.table__caption{
    caption-side: top;
    text-align: left;
    margin-bottom: 20px;
}

.table__cell{
    border: 1px solid rgb(104, 102, 104);
    padding: 10px 20px;
    text-align: center;
    color: rgb(56, 54, 54);
    
}

.table__header{
    background-color: #ce9fc4;
    color: rgb(255, 255, 255);
}

.table__header--darkTheme {
    background-color: #4d8283;
}

.table__row:hover {
    opacity: 0.96;
}

.table__row:nth-child(odd){
    background-color: #f3cded;
}

.table__row:nth-child(even){
    background-color: #e9dbe7;
}

.table__row--darkTheme:nth-child(odd){
    background-color: #a3c9ca;
}

.table__row--darkTheme:nth-child(even){
    background-color: #cde6e7;
}

.table__link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    transition: text-shadow, opacity, 150ms;
}

.table__link:visited{
    color: rgb(255, 254, 254);
}

.table__link:focus{
    outline: 2px solid black;
    outline-offset: 3px;
}

.table__link:hover{
    text-shadow: 2px 2px 2px black;
}

.table__link:active{
    opacity: 0.7;
}